<html>
<body>
<div>
<img src="https://angular.io/assets/images/logos/angular/angular.svg" alt="Bild fehlt" height="125"/>
<h1><br>Was ist Angular?</h1><p>von Malin Schultz</p><br><br>
<!--<img src="https://angular.io/assets/images/logos/angular/angular.svg" alt="Bild fehlt" height="100">-->
</div>
<div>
  <mat-accordion class="example-headers-align">
  <mat-expansion-panel [expanded]="step === 0"
                       (opened)="setStep(0)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Definition
      </mat-panel-title>
      <mat-panel-description>
        Was ist Angular?
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>- TypeScript basiert<br><br>
      -JavaScript Framework<br><br>
    - Hierarchie von Komponenten statt Controller<br><br>
    - Mobile First<br><br>
      - Modularität</p>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 1"
                       (opened)="setStep(1)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Historie
      </mat-panel-title>
      <mat-panel-description>
        Wo kommt Angular her?
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>- als Nachfolger von AngularJS<br><br>
    - entwickelt von Google<br><br>
    - first release 2010 als AngularJS<br><br>
    - aktuelleste stabile Version Angular9 im Februar 2020</p>

  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Funktionalität
      </mat-panel-title>
      <mat-panel-description>
        Wie funktioniert Angular?
      </mat-panel-description>
    </mat-expansion-panel-header>
    <img  style="border: 2px solid black;" src="https://upload.wikimedia.org/wikipedia/commons/d/d1/Architecture_of_an_Angular_2_application.png" width="500">
    <p>- Komponenten:<br><br>
    - erhält eine Eingabe und ändert das Verhalten passend<br><br>
    - macht das Wiederverwenden von Code einfach<br><br>
    - sind directives, "Markierungen auf DOM Elementen"<br><br>
    - es werden die UI-Teile getrennt in HTML-Tags und <br>in deren Verhalten in Java- bzw. Type-Script-Code</p>

  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Angular vs Vue.js
      </mat-panel-title>
      <mat-panel-description>
        Was ist besser?
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>- Angular ist älter<br><br>
    - Angular ist länger in großen Projekten im Gebrauch<br><br>
    - Vue.js ist schneller leichter zu lernen<br><br>
    - mit Angular kann ein tieferes Verständnis von Frontend-Funktionalität erreicht werden<br><br>
    - Funktionsweise der Komponeten ist ähnlich<br><br>
    - Integration anderer Bibliotheken ist mit Vue.js leichter</p>

  </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Angular vs React
        </mat-panel-title>
        <mat-panel-description>
          Was ist besser?
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>- Google vs Facebook<br><br>
        - React kombiniert UI und Verhalten<br><br>
        - da React kein vollständiges Framework ist, müssen für mehr Funktionen weitere Bibliotheken genutzt werden<br><br>
        - Einrichtung und Erlernen ist bei React leichter<br><br>
        - mit React geschriebener Code kann leicht in andere Frameworks eingebunden werden<br><br>
        - </p>

    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 5" (opened)="setStep(5)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Tutorials
        </mat-panel-title>
        <mat-panel-description>
          Wie fängt man am besten an?
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>- nodeJS, die aktuellste Version<br><br>
        - Webstorm, hilft<br><br>
      - ein neues Angular Projekt aufsetzten: über die Komandozeile oder im Webstorm-Interface<br><br>
      - Angular-Material hinzufügen:  ng add @angular/material</p>

    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 6" (opened)="setStep(6)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Tutorials
        </mat-panel-title>
        <mat-panel-description>
          Wo kann man das lernen?
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p><a href="https://angular.io/tutorial" target="_blank">https://angular.io/tutorial</a><br><br>
      <a href="https://angular.de/artikel/angular-tutorial-deutsch/" target="_blank">https://angular.de/artikel/angular-tutorial-deutsch/</a></p>

    </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 7" (opened)="setStep(7)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Quellen
      </mat-panel-title>
      <mat-panel-description>
        Wo gibt es Infos?
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>
      <a href="https://de.m.wikipedia.org/wiki/Angular" target="_blank">https://de.m.wikipedia.org/wiki/Angular</a><br><br>
      <a href="https://angular.io/" target="_blank">https://angular.io/</a><br><br>
      <a href="https://www.codeinwp.com/blog/angular-vs-vue-vs-react/" target="_blank">https://www.codeinwp.com/blog/angular-vs-vue-vs-react/</a><br><br>
      <a href="https://technostacks.com/blog/react-vs-angular/">https://technostacks.com/blog/react-vs-angular/</a>
    </p>

  </mat-expansion-panel>

</mat-accordion>
</div>
</body>
</html>
