<html>
<body>
<div>
<img src="https://angular.io/assets/images/logos/angular/angular.svg" alt="Bild fehlt" height="125"/>
<h1><br>Was ist Angular?</h1><p>von Malin Schultz</p><br><br>
<!--<img src="https://angular.io/assets/images/logos/angular/angular.svg" alt="Bild fehlt" height="100">-->
</div>
<div>
  <mat-accordion class="example-headers-align">
  <mat-expansion-panel [expanded]="step === 0"
                       (opened)="setStep(0)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Definition
      </mat-panel-title>
      <mat-panel-description>
        Was ist Angular?
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>- TypeScript basiert<br>
      -JavaScript Framework<br>
    - Hierarchie von Komponenten statt Controller<br>
    - Mobile First<br>
      - Modularität</p>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 1"
                       (opened)="setStep(1)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Historie
      </mat-panel-title>
      <mat-panel-description>
        Wo kommt Angular her?
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>- als Nachfolger von AngularJS<br>
    - entwickelt von Google<br>
    - first release 2010 als AngularJS<br>
    - aktuelleste stabile Version Angular9 im Februar 2020</p>

  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Funktionalität
      </mat-panel-title>
      <mat-panel-description>
        Wie funktioniert Angular?
      </mat-panel-description>
    </mat-expansion-panel-header>
    <img  style="border: 2px solid black;" src="https://upload.wikimedia.org/wikipedia/commons/d/d1/Architecture_of_an_Angular_2_application.png" width="500">
    <p>- Komponenten:<br>
    - erhät eine Eingabe und ändert das Verhalten passend<br>
    - macht das Wiederverwenden von Code einfach<br>
    - </p>

  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Angular vs Vue.js
      </mat-panel-title>
      <mat-panel-description>
        Was ist besser?
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>Angular ist besser..</p>

  </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Tutorials
        </mat-panel-title>
        <mat-panel-description>
          Wie fängt man am besten an?
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>- nodeJS, die aktuellste Version<br>
        - Webstorm, hilft<br>
      - ein neues Angular Projekt aufsetzten: über die Komandozeile oder im Webstorm-Interface<br>
      - Angular-Material hinzufügen:  ng add @angular/material</p>

    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 5" (opened)="setStep(5)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Tutorials
        </mat-panel-title>
        <mat-panel-description>
          Wo kann man das lernen?
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>https://angular.io/tutorial<br>
      https://angular.de/artikel/angular-tutorial-deutsch/</p>

    </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 5" (opened)="setStep(5)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Quellen
      </mat-panel-title>
      <mat-panel-description>
        Wo gibt es mehr Infos?
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>https://de.m.wikipedia.org/wiki/Angular<br>
    https://angular.io/</p>

  </mat-expansion-panel>

</mat-accordion>
</div>
</body>
</html>
